/* .footer{
   
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainLayout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */